Source: fxload
Section: admin
Priority: extra
Maintainer: Jasem Mutlaq <mutlaqja@ikarustech.com>
Build-Depends: cdbs, cmake, debhelper (>=9), libusb-1.0-0-dev
Standards-Version: 3.9.8
Homepage: http://libusb.info/

Package: fxload
Architecture: i386 amd64 armhf arm64
Depends: ${misc:Depends}, ${shlibs:Depends}, libusb-1.0-0
Description: fxload-libusb allows to load firmware on USB2/3 cameras
