Source: kstars-bleeding
Section: kde
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Pino Toscano <pino@debian.org>,
 Maximiliano Curia <maxy@debian.org>
Build-Depends: kde-sc-dev-latest (>= 4:4.10.2),
 cmake, debhelper (>= 7.3.16), pkg-kde-tools (>= 0.12),
 dpkg-dev (>= 1.15.5), kdelibs5-dev (>= 4:4.11.2),
 libeigen3-dev, zlib1g-dev, libcfitsio3-dev (>= 3.040), libglu1-mesa-dev [!armhf], libnova-dev, libqt4-opengl-dev [!armhf], pkg-config, libindi-dev (>= 0.9.7), wcslib-dev, libqjson-dev, xplanet
Standards-Version: 3.9.3
Homepage: http://edu.kde.org/
Vcs-Browser: http://bazaar.launchpad.net/~kubuntu-packagers/kubuntu-packaging/kstars
Vcs-Bzr: https://code.launchpad.net/~kubuntu-packagers/kubuntu-packaging/kstars
X-Vcs-Debian-Browser: http://git.debian.org/?p=pkg-kde/kde-sc/kstars.git
X-Vcs-Debian-Git: git://git.debian.org/pkg-kde/kde-sc/kstars.git

Package: kstars-bleeding
Architecture: any
Section: science
conflicts: kstars
replaces: kstars
Depends: ${shlibs:Depends}, ${misc:Depends}, kstars-bleeding-data (>= ${source:Version}), indi-full, python-kde4, astrometry.net
Description: desktop planetarium for KDE
 KStars is a desktop planetarium for KDE, depicting an accurate graphical
 simulation of the night sky, from any location on Earth, at any date and time.
 The display includes 130,000 stars, 13,000 deep-sky objects, all 8 planets,
 the Sun and Moon, and thousands of comets and asteroids.  It includes tools
 for astronomical calculations and can control telescopes and cameras.
 .
 This package is part of the KDE education module.

Package: kstars-bleeding-data
Architecture: all
Section: science
conflicts: kstars-data
replaces: kstars-data
Depends: ${misc:Depends}
Description: data files for KStars desktop planetarium
 This package contains architecture-independent data files for KStars,
 the graphical desktop planetarium for KDE, including star catalogues and
 astronomical images.
 .
 This package is part of the KDE education module.

Package: kstars-bleeding-dbg
Architecture: any
Section: debug
Depends: kstars-bleeding (= ${binary:Version}), kdelibs5-dbg
conflicts: kstars-dbg
replaces: kstars-dbg
Description: debug information for KStars desktop planetarium
 This package provides debug information for kstars. Install it to help
 identifying the routine that caused a crash, e.g. to allow the submission
 through the KDE Crash Handler. The package can be installed at any time,
 i.e. also after the bug occurred.
