Source: kstars-bleeding
Section: kde
Priority: optional
Maintainer: Jasem Mutlaq <mutlaqja@ikarustech.com>
Build-Depends: cmake, debhelper (>= 8.0~), pkg-config, pkg-project-neon5-tools (>= 208~),
 project-neon5-qt5-dev, project-neon5-extra-cmake-modules,
 project-neon5-kf5umbrella,
 project-neon5-kconfig,
 project-neon5-kdoctools,
 project-neon5-kguiaddons,
 project-neon5-knewstuff,
 project-neon5-kdbusaddons, 
 project-neon5-ki18n,
 project-neon5-kinit,
 project-neon5-kjobwidgets,
 project-neon5-kio,
 project-neon5-kwindowsystem,
 project-neon5-ktexteditor,
 project-neon5-kxmlgui, 
 project-neon5-kplotting,
 project-neon5-ktexteditor,
 project-neon5-kiconthemes,
 libeigen3-dev, zlib1g-dev, libcfitsio3-dev (>= 3.040), libglu1-mesa-dev [!armhf], libnova-dev, pkg-config, libindi-dev (>= 0.9.7), wcslib-dev, xplanet
Standards-Version: 3.9.3
Homepage: http://edu.kde.org/

Package: kstars-bleeding
Architecture: any
Section: science
conflicts: kstars
replaces: kstars
Depends: ${shlibs:Depends}, ${misc:Depends}, kstars-bleeding-data (>= ${source:Version}), indi-full, astrometry.net
Description: desktop planetarium for KDE
 KStars is a desktop planetarium for KDE, depicting an accurate graphical
 simulation of the night sky, from any location on Earth, at any date and time.
 The display includes 130,000 stars, 13,000 deep-sky objects, all 8 planets,
 the Sun and Moon, and thousands of comets and asteroids.  It includes tools
 for astronomical calculations and can control telescopes and cameras.
 .
 This package is part of the KDE education module.

Package: kstars-bleeding-data
Architecture: all
Section: science
conflicts: kstars-data
replaces: kstars-data
Depends: ${misc:Depends}
Description: data files for KStars desktop planetarium
 This package contains architecture-independent data files for KStars,
 the graphical desktop planetarium for KDE, including star catalogues and
 astronomical images.
 .
 This package is part of the KDE education module.

Package: kstars-bleeding-dbg
Architecture: any
Section: debug
Priority: extra
Depends: kstars-bleeding (= ${binary:Version}), ${misc:Depends}
Description: debug information for the desktop planetarium for KDE
 This package contains debugging files used to investigate problems with the
 desktop planetarium for KDE.