* text=auto !eol
indi-knro/.project -text
indi-knro/Authors -text
indi-knro/CMakeLists.txt -text
indi-knro/ChangeLog -text
indi-knro/Readme -text
indi-knro/copying.lib -text
indi-knro/encoder.cpp -text
indi-knro/encoder.h -text
indi-knro/indi_knro.xml -text
indi-knro/install -text
indi-knro/inverter.cpp -text
indi-knro/inverter.h -text
indi-knro/knro.cpp -text
indi-knro/knro.h -text
indi-knro/knro_common.h -text
indi-knro/ogg_util.cpp -text
indi-knro/ogg_util.h -text
indi-knro/polling.cpp -text
indi-knro/sounds/alarm1.ogg -text
indi-knro/sounds/alarm2.ogg -text
indi-knro/sounds/calibration_error.ogg -text
indi-knro/sounds/slew_busy.ogg -text
indi-knro/sounds/slew_complete.ogg -text
indi-knro/sounds/slew_error.ogg -text
knroSpecControl/knroSpecControl.pro -text
knroSpecControl/main.cpp -text
knroSpecControl/mainwindow.cpp -text
knroSpecControl/mainwindow.h -text
knroSpecControl/mainwindow.ui -text
ujari/AUTHORS -text
ujari/CMakeLists.txt -text
ujari/INSTALL -text
ujari/README -text
ujari/amccontroller.cpp -text
ujari/amccontroller.h -text
ujari/config.h.cmake -text
ujari/encoder.cpp -text
ujari/encoder.h -text
ujari/forkmount.cpp -text
ujari/forkmount.h -text
ujari/indi_ujari.xml -text
ujari/indi_ujari_sk.xml -text
ujari/inverter.cpp -text
ujari/inverter.h -text
ujari/ujari.cpp -text
ujari/ujari.h -text
ujari/ujarierror.cpp -text
ujari/ujarierror.h -text
