CMakeLists.txt.user*

# Projectile tags
TAGS

# Ignore build directory
build/
build-*/

# Gedit backup files
*~
*.orig
.cache
.cmake
nbproject/
.directory
CMakeCache.txt
*_automoc.cpp
*autogen/
unitybuild_*.c*
*.a
*.so.*
*.so
Makefile
moc_*.cpp
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
Testing
doxygen_warnings.txt
documentation
*.cbp
install_manifest.txt
.idea
*.kdev4
DartConfiguration.tcl
make_*symlink.cmake

/config*.h
/*.pc
/indiversion.h
