* text=auto !eol
cmake_modules/FindALUT.cmake -text
cmake_modules/FindAPOGEE.cmake -text
cmake_modules/FindCFITSIO.cmake -text
cmake_modules/FindFLI.cmake -text
cmake_modules/FindGPHOTO2.cmake -text
cmake_modules/FindINDI.cmake -text
cmake_modules/FindMEADE.cmake -text
cmake_modules/FindMODBUS.cmake -text
cmake_modules/FindNova.cmake -text
cmake_modules/FindQSI.cmake -text
cmake_modules/FindSBIG.cmake -text
cmake_modules/FindUSB.cmake -text
cmake_modules/FindVorbis.cmake -text
cmake_modules/MacroBoolTo01.cmake -text
cmake_modules/MacroLogFeature.cmake -text
cmake_modules/MacroOptionalFindPackage.cmake -text
indi-apogee/.cproject -text
indi-apogee/.project -text
indi-apogee/AUTHORS -text
indi-apogee/CMakeLists.txt -text
indi-apogee/COPYING.LIB -text
indi-apogee/ChangeLog -text
indi-apogee/INSTALL -text
indi-apogee/README -text
indi-apogee/debian/changelog -text
indi-apogee/debian/compat -text
indi-apogee/debian/control -text
indi-apogee/debian/copyright -text
indi-apogee/debian/indi-apogee.dirs -text
indi-apogee/debian/indi-apogee.install -text
indi-apogee/debian/postinst.ex -text
indi-apogee/debian/postrm.ex -text
indi-apogee/debian/rules -text
indi-apogee/indi_apogee.xml -text
indi-apogee/indialta.c -text
indi-gphoto/AUTHORS -text
indi-gphoto/CMakeLists.txt -text
indi-gphoto/COPYING.LIB -text
indi-gphoto/INSTALL -text
indi-gphoto/README -text
indi-gphoto/debian/changelog -text
indi-gphoto/debian/compat -text
indi-gphoto/debian/control -text
indi-gphoto/debian/copyright -text
indi-gphoto/debian/dirs -text
indi-gphoto/debian/install -text
indi-gphoto/debian/rules -text
indi-gphoto/gphoto_ccd.cpp -text
indi-gphoto/gphoto_ccd.h -text
indi-gphoto/gphoto_driver.c -text
indi-gphoto/gphoto_driver.h -text
indi-gphoto/gphoto_readimage.c -text
indi-gphoto/gphoto_readimage.h -text
indi-gphoto/indi_gphoto.xml -text
indi-meadedsi/AUTHORS -text
indi-meadedsi/COPYING.LIB -text
indi-meadedsi/ChangeLog -text
indi-meadedsi/INSTALL -text
indi-meadedsi/README -text
indi-meadedsi/indi_meadedsi_ccd.xml -text
indi-qhy/AUTHORS -text
indi-qhy/CMakeLists.txt -text
indi-qhy/COPYING.LIB -text
indi-qhy/INSTALL -text
indi-qhy/README -text
indi-qhy/debian/changelog -text
indi-qhy/debian/compat -text
indi-qhy/debian/control -text
indi-qhy/debian/indi-qhy.copyright -text
indi-qhy/debian/indi-qhy.dirs -text
indi-qhy/debian/indi-qhy.install -text
indi-qhy/debian/qhy-firmware.copyright -text
indi-qhy/debian/qhy-firmware.dirs -text
indi-qhy/debian/qhy-firmware.install -text
indi-qhy/debian/rules -text
indi-qhy/firmware/85-qhy.rules -text
indi-qhy/firmware/LICENSE -text
indi-qhy/firmware/README -text
indi-qhy/firmware/qhy5.hex -text
indi-qhy/firmware/qhy5loader.hex -text
indi-qhy/indi_qhy.xml -text
indi-qhy/qhy5_driver.c -text
indi-qhy/qhy5_driver.h -text
indi-qhy/qhy_ccd.c -text
indi-qsi/AUTHORS -text
indi-qsi/INSTALL -text
indi-qsi/README -text
indi-qsi/config.h.cmake -text
indi-qsi/indi_qsi.xml -text
indi-qsi/qsi_ccd.cc -text
indi-sbig/.cproject -text
indi-sbig/.project -text
indi-sbig/AUTHORS -text
indi-sbig/CMakeLists.txt -text
indi-sbig/COPYING.LIB -text
indi-sbig/ChangeLog -text
indi-sbig/INSTALL -text
indi-sbig/README -text
indi-sbig/config.h.cmake -text
indi-sbig/debian/changelog -text
indi-sbig/debian/compat -text
indi-sbig/debian/control -text
indi-sbig/debian/copyright -text
indi-sbig/debian/indi-sbig.dirs -text
indi-sbig/debian/indi-sbig.install -text
indi-sbig/debian/postinst.ex -text
indi-sbig/debian/postrm.ex -text
indi-sbig/debian/rules -text
indi-sbig/indi_sbig.xml -text
indi-sbig/sbigcam.cpp -text
indi-sbig/sbigcam.h -text
indi-sbig/sbigudrv.h -text
indi-spectracyber/.project -text
indi-spectracyber/Authors -text
indi-spectracyber/CMakeLists.txt -text
indi-spectracyber/ChangeLog -text
indi-spectracyber/Readme -text
indi-spectracyber/copying.lib -text
indi-spectracyber/indi_spectracyber.xml -text
indi-spectracyber/install -text
indi-spectracyber/spectracyber.cpp -text
indi-spectracyber/spectracyber.h -text
libapogee/.cproject -text
libapogee/.project -text
libapogee/AUTHORS -text
libapogee/Apn.h -text
libapogee/ApnCamData.cpp -text
libapogee/ApnCamData.h -text
libapogee/ApnCamData_ASCENT0402ME.cpp -text
libapogee/ApnCamData_ASCENT0402ME.h -text
libapogee/ApnCamData_ASCENT0402ME2.cpp -text
libapogee/ApnCamData_ASCENT0402ME2.h -text
libapogee/ApnCamData_ASCENT0402ME3.cpp -text
libapogee/ApnCamData_ASCENT0402ME3.h -text
libapogee/ApnCamData_ASCENT0402ME4.cpp -text
libapogee/ApnCamData_ASCENT0402ME4.h -text
libapogee/ApnCamData_ASCENT16000.cpp -text
libapogee/ApnCamData_ASCENT16000.h -text
libapogee/ApnCamData_ASCENT2000.cpp -text
libapogee/ApnCamData_ASCENT2000.h -text
libapogee/ApnCamData_ASCENT340.cpp -text
libapogee/ApnCamData_ASCENT340.h -text
libapogee/ApnCamData_ASCENT4000.cpp -text
libapogee/ApnCamData_ASCENT4000.h -text
libapogee/ApnCamData_CCD3011.cpp -text
libapogee/ApnCamData_CCD3011.h -text
libapogee/ApnCamData_CCD3011B.cpp -text
libapogee/ApnCamData_CCD3011B.h -text
libapogee/ApnCamData_CCD4240.cpp -text
libapogee/ApnCamData_CCD4240.h -text
libapogee/ApnCamData_CCD4240B.cpp -text
libapogee/ApnCamData_CCD4240B.h -text
libapogee/ApnCamData_CCD4710.cpp -text
libapogee/ApnCamData_CCD4710.h -text
libapogee/ApnCamData_CCD4710ALT.cpp -text
libapogee/ApnCamData_CCD4710ALT.h -text
libapogee/ApnCamData_CCD4710B.cpp -text
libapogee/ApnCamData_CCD4710B.h -text
libapogee/ApnCamData_CCD4720.cpp -text
libapogee/ApnCamData_CCD4720.h -text
libapogee/ApnCamData_CCD4720B.cpp -text
libapogee/ApnCamData_CCD4720B.h -text
libapogee/ApnCamData_CCD5520.cpp -text
libapogee/ApnCamData_CCD5520.h -text
libapogee/ApnCamData_CCD5520B.cpp -text
libapogee/ApnCamData_CCD5520B.h -text
libapogee/ApnCamData_CCD5710.cpp -text
libapogee/ApnCamData_CCD5710.h -text
libapogee/ApnCamData_CCD5710B.cpp -text
libapogee/ApnCamData_CCD5710B.h -text
libapogee/ApnCamData_CCD5710F.cpp -text
libapogee/ApnCamData_CCD5710F.h -text
libapogee/ApnCamData_CCD7700.cpp -text
libapogee/ApnCamData_CCD7700.h -text
libapogee/ApnCamData_CCD7700B.cpp -text
libapogee/ApnCamData_CCD7700B.h -text
libapogee/ApnCamData_KAF0261E.cpp -text
libapogee/ApnCamData_KAF0261E.h -text
libapogee/ApnCamData_KAF0261EB.cpp -text
libapogee/ApnCamData_KAF0261EB.h -text
libapogee/ApnCamData_KAF0401E.cpp -text
libapogee/ApnCamData_KAF0401E.h -text
libapogee/ApnCamData_KAF0401EB.cpp -text
libapogee/ApnCamData_KAF0401EB.h -text
libapogee/ApnCamData_KAF09000.cpp -text
libapogee/ApnCamData_KAF09000.h -text
libapogee/ApnCamData_KAF09000H.cpp -text
libapogee/ApnCamData_KAF09000H.h -text
libapogee/ApnCamData_KAF09000X.cpp -text
libapogee/ApnCamData_KAF09000X.h -text
libapogee/ApnCamData_KAF10011105.cpp -text
libapogee/ApnCamData_KAF10011105.h -text
libapogee/ApnCamData_KAF1001E.cpp -text
libapogee/ApnCamData_KAF1001E.h -text
libapogee/ApnCamData_KAF1001EB.cpp -text
libapogee/ApnCamData_KAF1001EB.h -text
libapogee/ApnCamData_KAF1001ENS.cpp -text
libapogee/ApnCamData_KAF1001ENS.h -text
libapogee/ApnCamData_KAF1301E.cpp -text
libapogee/ApnCamData_KAF1301E.h -text
libapogee/ApnCamData_KAF1301EB.cpp -text
libapogee/ApnCamData_KAF1301EB.h -text
libapogee/ApnCamData_KAF1401E.cpp -text
libapogee/ApnCamData_KAF1401E.h -text
libapogee/ApnCamData_KAF1602E.cpp -text
libapogee/ApnCamData_KAF1602E.h -text
libapogee/ApnCamData_KAF1602EB.cpp -text
libapogee/ApnCamData_KAF1602EB.h -text
libapogee/ApnCamData_KAF16801E.cpp -text
libapogee/ApnCamData_KAF16801E.h -text
libapogee/ApnCamData_KAF16803.cpp -text
libapogee/ApnCamData_KAF16803.h -text
libapogee/ApnCamData_KAF3200E.cpp -text
libapogee/ApnCamData_KAF3200E.h -text
libapogee/ApnCamData_KAF3200EB.cpp -text
libapogee/ApnCamData_KAF3200EB.h -text
libapogee/ApnCamData_KAF4202.cpp -text
libapogee/ApnCamData_KAF4202.h -text
libapogee/ApnCamData_KAF6303E.cpp -text
libapogee/ApnCamData_KAF6303E.h -text
libapogee/ApnCamData_KAF6303EB.cpp -text
libapogee/ApnCamData_KAF6303EB.h -text
libapogee/ApnCamData_KAI11000C.cpp -text
libapogee/ApnCamData_KAI11000C.h -text
libapogee/ApnCamData_KAI11000CL.cpp -text
libapogee/ApnCamData_KAI11000CL.h -text
libapogee/ApnCamData_KAI11000M.cpp -text
libapogee/ApnCamData_KAI11000M.h -text
libapogee/ApnCamData_KAI11000ML.cpp -text
libapogee/ApnCamData_KAI11000ML.h -text
libapogee/ApnCamData_KAI2001CL.cpp -text
libapogee/ApnCamData_KAI2001CL.h -text
libapogee/ApnCamData_KAI2001M.cpp -text
libapogee/ApnCamData_KAI2001M.h -text
libapogee/ApnCamData_KAI2001ML.cpp -text
libapogee/ApnCamData_KAI2001ML.h -text
libapogee/ApnCamData_KAI2020C.cpp -text
libapogee/ApnCamData_KAI2020C.h -text
libapogee/ApnCamData_KAI2020CL.cpp -text
libapogee/ApnCamData_KAI2020CL.h -text
libapogee/ApnCamData_KAI2020CLB.cpp -text
libapogee/ApnCamData_KAI2020CLB.h -text
libapogee/ApnCamData_KAI2020M.cpp -text
libapogee/ApnCamData_KAI2020M.h -text
libapogee/ApnCamData_KAI2020ML.cpp -text
libapogee/ApnCamData_KAI2020ML.h -text
libapogee/ApnCamData_KAI2020MLB.cpp -text
libapogee/ApnCamData_KAI2020MLB.h -text
libapogee/ApnCamData_KAI4020C.cpp -text
libapogee/ApnCamData_KAI4020C.h -text
libapogee/ApnCamData_KAI4020CL.cpp -text
libapogee/ApnCamData_KAI4020CL.h -text
libapogee/ApnCamData_KAI4020CLB.cpp -text
libapogee/ApnCamData_KAI4020CLB.h -text
libapogee/ApnCamData_KAI4020M.cpp -text
libapogee/ApnCamData_KAI4020M.h -text
libapogee/ApnCamData_KAI4020ML.cpp -text
libapogee/ApnCamData_KAI4020ML.h -text
libapogee/ApnCamData_KAI4020MLB.cpp -text
libapogee/ApnCamData_KAI4020MLB.h -text
libapogee/ApnCamData_S101401107.cpp -text
libapogee/ApnCamData_S101401107.h -text
libapogee/ApnCamData_S101401109.cpp -text
libapogee/ApnCamData_S101401109.h -text
libapogee/ApnCamData_TH7899.cpp -text
libapogee/ApnCamData_TH7899.h -text
libapogee/ApnCamTable.cpp -text
libapogee/ApnCamTable.h -text
libapogee/ApnCamera.cpp -text
libapogee/ApnCamera.h -text
libapogee/ApnCamera_Linux.cpp -text
libapogee/ApnCamera_NET.cpp -text
libapogee/ApnCamera_NET.h -text
libapogee/ApnCamera_USB.cpp -text
libapogee/ApnCamera_USB.h -text
libapogee/ApnFilterWheel.cpp -text
libapogee/ApnFilterWheel.h -text
libapogee/ApnGlue.cpp -text
libapogee/ApnGlue.h -text
libapogee/ApnSerial.cpp -text
libapogee/ApnSerial.h -text
libapogee/ApnSerial_NET.cpp -text
libapogee/ApnSerial_NET.h -text
libapogee/ApnSerial_USB.cpp -text
libapogee/ApnSerial_USB.h -text
libapogee/ApnUsbSys.h -text
libapogee/Apogee.h -text
libapogee/ApogeeLinux.h -text
libapogee/ApogeeNet/ApnDiscover.cpp -text
libapogee/ApogeeNet/ApogeeNet.cpp -text
libapogee/ApogeeNet/ApogeeNet.cpp.old -text
libapogee/ApogeeNet/ApogeeNet.h -text
libapogee/ApogeeNet/ApogeeNetErr.h -text
libapogee/ApogeeNet/ApogeeNetLinux.c -text
libapogee/ApogeeNet/ApogeeNetLinux.c.old -text
libapogee/ApogeeUsb/ApogeeUsb.h -text
libapogee/ApogeeUsb/ApogeeUsbErr.h -text
libapogee/ApogeeUsb/ApogeeUsbLinux.cpp -text
libapogee/ApogeeUsb/ApogeeUsbLinuxForKernel.cpp -text
libapogee/ApogeeUsb/reb1100.cpp -text
libapogee/ApogeeUsb/usb.h -text
libapogee/CMakeLists.txt -text
libapogee/CameraIO_Linux.cpp -text
libapogee/CameraIO_Linux.h -text
libapogee/CameraIO_LinuxISA.cpp -text
libapogee/CameraIO_LinuxPCI.cpp -text
libapogee/CameraIO_LinuxPPI.cpp -text
libapogee/CameraIO_PCI.cpp -text
libapogee/CameraIO_PCI.h -text
libapogee/Camera_Example.cpp -text
libapogee/ChangeLog -text
libapogee/FpgaRegs/FpgaRegs.h -text
libapogee/INSTALL -text
libapogee/LICENSE -text
libapogee/README -text
libapogee/apogee-test.h -text
libapogee/debian/changelog -text
libapogee/debian/compat -text
libapogee/debian/control -text
libapogee/debian/copyright -text
libapogee/debian/libapogee2-dev.dirs -text
libapogee/debian/libapogee2-dev.install -text
libapogee/debian/libapogee2-dev.links -text
libapogee/debian/libapogee2.dirs -text
libapogee/debian/libapogee2.install -text
libapogee/debian/libapogee2.links -text
libapogee/debian/postinst.ex -text
libapogee/debian/postrm.ex -text
libapogee/debian/rules -text
libapogee/libapogee.cpp -text
libapogee/libapogee.h -text
libapogee/stdafx.h -text
libapogee/testTDI.cpp -text
libapogee/testTDIu.cpp -text
libapogee/test_alta.cpp -text
libapogee/test_apogee.cpp -text
libapogee/test_hatalta.cpp -text
libapogee/testnet.cpp -text
libcfitsio/.cproject -text
libcfitsio/.project -text
libcfitsio/License.txt -text
libcfitsio/Makefile.in -text
libcfitsio/README -text
libcfitsio/README.MacOS -text
libcfitsio/README.win32 -text
libcfitsio/buffers.c -text
libcfitsio/cfileio.c -text
libcfitsio/cfitsio.doc -text
libcfitsio/cfitsio.pc.in -text
libcfitsio/cfitsio.ps -text
libcfitsio/cfitsio.tex -text
libcfitsio/cfitsio.toc -text
libcfitsio/cfitsio_mac.sit.hqx -text
libcfitsio/cfortran.doc -text
libcfitsio/cfortran.h -text
libcfitsio/changes.txt -text
libcfitsio/checksum.c -text
libcfitsio/compress.c -text
libcfitsio/compress.h -text
libcfitsio/compress_alternate.c -text
libcfitsio/configure -text
libcfitsio/configure.in -text
libcfitsio/cookbook.c -text
libcfitsio/cookbook.f -text
libcfitsio/cphead.c -text
libcfitsio/debian/changelog -text
libcfitsio/debian/compat -text
libcfitsio/debian/control -text
libcfitsio/debian/copyright -text
libcfitsio/debian/libcfitsio0-dev.files -text
libcfitsio/debian/libcfitsio0.files -text
libcfitsio/debian/libcfitsio0.substvars -text
libcfitsio/debian/libcfitsio3-dev.dirs -text
libcfitsio/debian/libcfitsio3-dev.install -text
libcfitsio/debian/libcfitsio3-dev.links -text
libcfitsio/debian/libcfitsio3.dirs -text
libcfitsio/debian/libcfitsio3.install -text
libcfitsio/debian/libcfitsio3.links -text
libcfitsio/debian/postinst.ex -text
libcfitsio/debian/postrm.ex -text
libcfitsio/debian/rules -text
libcfitsio/drvrfile.c -text
libcfitsio/drvrgsiftp.c -text
libcfitsio/drvrgsiftp.h -text
libcfitsio/drvrmem.c -text
libcfitsio/drvrnet.c -text
libcfitsio/drvrsmem.c -text
libcfitsio/drvrsmem.h -text
libcfitsio/editcol.c -text
libcfitsio/edithdu.c -text
libcfitsio/eval.l -text
libcfitsio/eval.y -text
libcfitsio/eval_defs.h -text
libcfitsio/eval_f.c -text
libcfitsio/eval_l.c -text
libcfitsio/eval_tab.h -text
libcfitsio/eval_y.c -text
libcfitsio/f77.inc -text
libcfitsio/f77_wrap.h -text
libcfitsio/f77_wrap1.c -text
libcfitsio/f77_wrap2.c -text
libcfitsio/f77_wrap3.c -text
libcfitsio/f77_wrap4.c -text
libcfitsio/fits_hcompress.c -text
libcfitsio/fits_hdecompress.c -text
libcfitsio/fitscopy.c -text
libcfitsio/fitscore.c -text
libcfitsio/fitsfile.tpt -text
libcfitsio/fitsio.doc -text
libcfitsio/fitsio.h -text
libcfitsio/fitsio.ps -text
libcfitsio/fitsio.tex -text
libcfitsio/fitsio.toc -text
libcfitsio/fitsio2.h -text
libcfitsio/fpack.c -text
libcfitsio/fpack.h -text
libcfitsio/fpack.pdf -text
libcfitsio/fpackutil.c -text
libcfitsio/funpack.c -text
libcfitsio/getcol.c -text
libcfitsio/getcolb.c -text
libcfitsio/getcold.c -text
libcfitsio/getcole.c -text
libcfitsio/getcoli.c -text
libcfitsio/getcolj.c -text
libcfitsio/getcolk.c -text
libcfitsio/getcoll.c -text
libcfitsio/getcols.c -text
libcfitsio/getcolsb.c -text
libcfitsio/getcolui.c -text
libcfitsio/getcoluj.c -text
libcfitsio/getcoluk.c -text
libcfitsio/getkey.c -text
libcfitsio/group.c -text
libcfitsio/group.h -text
libcfitsio/grparser.c -text
libcfitsio/grparser.h -text
libcfitsio/histo.c -text
libcfitsio/imcompress.c -text
libcfitsio/imcopy.c -text
libcfitsio/include/drvrsmem.h -text
libcfitsio/include/fitsio.h -text
libcfitsio/include/fitsio2.h -text
libcfitsio/include/longnam.h -text
libcfitsio/iraffits.c -text
libcfitsio/iter_a.c -text
libcfitsio/iter_a.f -text
libcfitsio/iter_a.fit -text
libcfitsio/iter_b.c -text
libcfitsio/iter_b.f -text
libcfitsio/iter_b.fit -text svneol=unset#unset
libcfitsio/iter_c.c -text
libcfitsio/iter_c.f -text
libcfitsio/iter_c.fit -text
libcfitsio/iter_image.c -text
libcfitsio/iter_var.c -text
libcfitsio/lib/pkgconfig/cfitsio.pc -text
libcfitsio/listhead.c -text
libcfitsio/longnam.h -text
libcfitsio/make_dfloat.com -text
libcfitsio/make_gfloat.com -text
libcfitsio/make_ieee.com -text
libcfitsio/makefile.bc -text
libcfitsio/makefile.os2 -text
libcfitsio/makefile.vcc -text
libcfitsio/makepc.bat -text
libcfitsio/mkpkg -text
libcfitsio/modkey.c -text
libcfitsio/pliocomp.c -text
libcfitsio/putcol.c -text
libcfitsio/putcolb.c -text
libcfitsio/putcold.c -text
libcfitsio/putcole.c -text
libcfitsio/putcoli.c -text
libcfitsio/putcolj.c -text
libcfitsio/putcolk.c -text
libcfitsio/putcoll.c -text
libcfitsio/putcols.c -text
libcfitsio/putcolsb.c -text
libcfitsio/putcolu.c -text
libcfitsio/putcolui.c -text
libcfitsio/putcoluj.c -text
libcfitsio/putcoluk.c -text
libcfitsio/putkey.c -text
libcfitsio/quantize.c -text
libcfitsio/quick.ps -text
libcfitsio/quick.tex -text
libcfitsio/quick.toc -text
libcfitsio/region.c -text
libcfitsio/region.h -text
libcfitsio/ricecomp.c -text
libcfitsio/sample.tpl -text
libcfitsio/scalnull.c -text
libcfitsio/smem.c -text
libcfitsio/speed.c -text
libcfitsio/swapproc.c -text
libcfitsio/tablist.c -text
libcfitsio/test.c -text
libcfitsio/testf77.f -text
libcfitsio/testf77.out -text
libcfitsio/testf77.std -text svneol=unset#unset
libcfitsio/testprog.c -text
libcfitsio/testprog.fit -text
libcfitsio/testprog.out -text
libcfitsio/testprog.std -text
libcfitsio/testprog.tpt -text
libcfitsio/vmsieee.c -text
libcfitsio/vmsieeed.mar -text
libcfitsio/vmsieeer.mar -text
libcfitsio/wcssub.c -text
libcfitsio/wcsutil.c -text
libcfitsio/wcsutil_alternate.c -text
libcfitsio/winDumpExts.mak -text
libcfitsio/windumpexts.c -text
libcfitsio/wrimage.c -text
libfli/.cproject -text
libfli/.project -text
libfli/CMakeLists.txt -text
libfli/LICENSE.BSD -text
libfli/debian/changelog -text
libfli/debian/compat -text
libfli/debian/control -text
libfli/debian/copyright -text
libfli/debian/libfli1-dev.dirs -text
libfli/debian/libfli1-dev.install -text
libfli/debian/libfli1-dev.links -text
libfli/debian/libfli1.dirs -text
libfli/debian/libfli1.install -text
libfli/debian/libfli1.links -text
libfli/debian/postinst.ex -text
libfli/debian/postrm.ex -text
libfli/debian/rules -text
libfli/fli_ioctl.h -text
libfli/fliusb_ioctl.h -text
libfli/libfli-camera-parport.c -text
libfli/libfli-camera-parport.h -text
libfli/libfli-camera-usb.c -text
libfli/libfli-camera-usb.h -text
libfli/libfli-camera.c -text
libfli/libfli-camera.h -text
libfli/libfli-debug.c -text
libfli/libfli-debug.h -text
libfli/libfli-filter-focuser.c -text
libfli/libfli-filter-focuser.h -text
libfli/libfli-libfli.h -text
libfli/libfli-mem.c -text
libfli/libfli-mem.h -text
libfli/libfli-parport.c -text
libfli/libfli-parport.h -text
libfli/libfli-serial.c -text
libfli/libfli-serial.h -text
libfli/libfli-sys.c -text
libfli/libfli-sys.h -text
libfli/libfli-usb-sys.c -text
libfli/libfli-usb.c -text
libfli/libfli-usb.h -text
libfli/libfli.c -text
libfli/libfli.dxx -text
libfli/libfli.h -text
libindi/.cproject -text
libindi/.project -text
libindi/AUTHORS -text
libindi/CMakeLists.txt -text
libindi/COPYING.LIB -text
libindi/ChangeLog -text
libindi/Doxyfile -text
libindi/INSTALL -text
libindi/LICENSE -text
libindi/NEWS -text
libindi/README -text
libindi/README.drivers -text
libindi/README.robofocus -text
libindi/README.stv -text
libindi/TODO -text
libindi/base64.c -text
libindi/base64.h -text
libindi/config.h.cmake -text
libindi/debian/changelog -text
libindi/debian/compat -text
libindi/debian/control -text
libindi/debian/copyright -text
libindi/debian/indi0.install -text
libindi/debian/libindi0-dev.install -text
libindi/debian/libindi0.install -text
libindi/debian/rules -text
libindi/drivers.xml -text
libindi/drivers/ccd/fli_ccd.c -text
libindi/drivers/filter_wheel/fli_wheel.c -text
libindi/drivers/filter_wheel/trutech_wheel.c -text
libindi/drivers/focuser/fli_pdf.c -text
libindi/drivers/focuser/robofocus.c -text
libindi/drivers/focuser/robofocusdriver.c -text
libindi/drivers/focuser/robofocusdriver.h -text
libindi/drivers/telescope/celestrongps.cpp -text
libindi/drivers/telescope/celestrongps.h -text
libindi/drivers/telescope/celestronprotocol.c -text
libindi/drivers/telescope/celestronprotocol.h -text
libindi/drivers/telescope/intelliscope.c -text
libindi/drivers/telescope/lx200_16.cpp -text
libindi/drivers/telescope/lx200_16.h -text
libindi/drivers/telescope/lx200ap.cpp -text
libindi/drivers/telescope/lx200ap.h -text
libindi/drivers/telescope/lx200apdriver.c -text
libindi/drivers/telescope/lx200apdriver.h -text
libindi/drivers/telescope/lx200aplib.h -text
libindi/drivers/telescope/lx200autostar.cpp -text
libindi/drivers/telescope/lx200autostar.h -text
libindi/drivers/telescope/lx200basic.cpp -text
libindi/drivers/telescope/lx200basic.h -text
libindi/drivers/telescope/lx200classic.cpp -text
libindi/drivers/telescope/lx200classic.h -text
libindi/drivers/telescope/lx200driver.c -text
libindi/drivers/telescope/lx200driver.h -text
libindi/drivers/telescope/lx200generic.cpp -text
libindi/drivers/telescope/lx200generic.h -text
libindi/drivers/telescope/lx200gps.cpp -text
libindi/drivers/telescope/lx200gps.h -text
libindi/drivers/telescope/orionatlas.cpp -text
libindi/drivers/telescope/orionatlas.h -text
libindi/drivers/telescope/skycommander.c -text
libindi/drivers/telescope/temmadriver.c -text
libindi/drivers/telescope/temmadriver.h -text
libindi/drivers/video/indi_lpi.cpp -text
libindi/drivers/video/indi_philips.cpp -text
libindi/drivers/video/indi_v4l.cpp -text
libindi/drivers/video/stv.c -text
libindi/drivers/video/stvdriver.c -text
libindi/drivers/video/stvdriver.h -text
libindi/drivers/video/v4ldriver.cpp -text
libindi/drivers/video/v4ldriver.h -text
libindi/drivers/video/v4lphilips.cpp -text
libindi/drivers/video/v4lphilips.h -text
libindi/eventloop.c -text
libindi/eventloop.h -text
libindi/examples/README -text
libindi/examples/ccdpreview.txt -text
libindi/examples/ngc1316o.fits -text
libindi/examples/tutorial_ccdpreview.c -text
libindi/examples/tutorial_dome.c -text
libindi/examples/tutorial_one.c -text
libindi/examples/tutorial_rain.c -text
libindi/examples/tutorial_three.c -text
libindi/examples/tutorial_two.c -text
libindi/fq.c -text
libindi/fq.h -text
libindi/indiapi.h -text
libindi/indidevapi.h -text
libindi/indidrivermain.c -text
libindi/indiserver.c -text
libindi/libindi.pc.cmake -text
libindi/libs/indicom.c -text
libindi/libs/indicom.h -text
libindi/libs/lilxml.c -text
libindi/libs/lilxml.h -text
libindi/libs/webcam/PPort.cpp -text
libindi/libs/webcam/PPort.h -text
libindi/libs/webcam/ccvt.h -text
libindi/libs/webcam/ccvt_c2.c -text
libindi/libs/webcam/ccvt_misc.c -text
libindi/libs/webcam/ccvt_types.h -text
libindi/libs/webcam/port.cpp -text
libindi/libs/webcam/port.h -text
libindi/libs/webcam/pwc-ioctl.h -text
libindi/libs/webcam/v4l1_base.cpp -text
libindi/libs/webcam/v4l1_base.h -text
libindi/libs/webcam/v4l1_pwc.cpp -text
libindi/libs/webcam/v4l1_pwc.h -text
libindi/libs/webcam/v4l2_base.cpp -text
libindi/libs/webcam/v4l2_base.h -text
libindi/libs/webcam/vcvt.h -text
libindi/libs/webcam/videodev.h -text
libindi/libs/webcam/videodev2.h -text
libindi/tools/compiler.c -text
libindi/tools/evalINDI.c -text
libindi/tools/getINDIproperty.c -text
libindi/tools/setINDIproperty.c -text
libnova/.cproject -text
libnova/.project -text
libnova/AUTHORS -text
libnova/CMakeLists.txt -text
libnova/COPYING -text
libnova/ChangeLog -text
libnova/INSTALL -text
libnova/Makefile.am -text
libnova/NEWS -text
libnova/README -text
libnova/aberration.c -text
libnova/airmass.c -text
libnova/angular_separation.c -text
libnova/apparent_position.c -text
libnova/asteroid.c -text
libnova/comet.c -text
libnova/debian/changelog -text
libnova/debian/compat -text
libnova/debian/control -text
libnova/debian/copyright -text
libnova/debian/libnova0-dev.dirs -text
libnova/debian/libnova0-dev.install -text
libnova/debian/libnova0-dev.links -text
libnova/debian/libnova0.dirs -text
libnova/debian/libnova0.install -text
libnova/debian/libnova0.links -text
libnova/debian/postinst.ex -text
libnova/debian/postrm.ex -text
libnova/debian/rules -text
libnova/dynamical_time.c -text
libnova/earth.c -text
libnova/elliptic_motion.c -text
libnova/hyperbolic_motion.c -text
libnova/julian_day.c -text
libnova/jupiter.c -text
libnova/libnova/aberration.h -text
libnova/libnova/airmass.h -text
libnova/libnova/angular_separation.h -text
libnova/libnova/apparent_position.h -text
libnova/libnova/asteroid.h -text
libnova/libnova/comet.h -text
libnova/libnova/dynamical_time.h -text
libnova/libnova/earth.h -text
libnova/libnova/elliptic_motion.h -text
libnova/libnova/hyperbolic_motion.h -text
libnova/libnova/julian_day.h -text
libnova/libnova/jupiter.h -text
libnova/libnova/libnova.h -text
libnova/libnova/ln_types.h -text
libnova/libnova/lunar.h -text
libnova/libnova/mars.h -text
libnova/libnova/mercury.h -text
libnova/libnova/neptune.h -text
libnova/libnova/nutation.h -text
libnova/libnova/parabolic_motion.h -text
libnova/libnova/parallax.h -text
libnova/libnova/pluto.h -text
libnova/libnova/precession.h -text
libnova/libnova/proper_motion.h -text
libnova/libnova/refraction.h -text
libnova/libnova/rise_set.h -text
libnova/libnova/saturn.h -text
libnova/libnova/sidereal_time.h -text
libnova/libnova/solar.h -text
libnova/libnova/transform.h -text
libnova/libnova/uranus.h -text
libnova/libnova/utility.h -text
libnova/libnova/venus.h -text
libnova/libnova/vsop87.h -text
libnova/lunar.c -text
libnova/mars.c -text
libnova/mercury.c -text
libnova/neptune.c -text
libnova/nutation.c -text
libnova/parabolic_motion.c -text
libnova/parallax.c -text
libnova/pluto.c -text
libnova/precession.c -text
libnova/proper_motion.c -text
libnova/refraction.c -text
libnova/rise_set.c -text
libnova/saturn.c -text
libnova/sidereal_time.c -text
libnova/solar.c -text
libnova/transform.c -text
libnova/uranus.c -text
libnova/utility.c -text
libnova/venus.c -text
libnova/vsop87.c -text
sbig/99-sbig.rules -text
sbig/CMakeLists.txt -text
sbig/debian/changelog -text
sbig/debian/compat -text
sbig/debian/control -text
sbig/debian/copyright -text
sbig/debian/postinst.ex -text
sbig/debian/postrm.ex -text
sbig/debian/rules -text
sbig/debian/sbig.dirs -text
sbig/debian/sbig.install -text
sbig/debian/sbig.links -text
sbig/libsbigudrv32.so -text
sbig/libsbigudrv64.so -text
sbig/sbigfcam.hex -text
sbig/sbiglcam.hex -text
sbig/sbigucam.hex -text
sbig/stfga.bin -text
