# Increase usbfs memory to 256MB IF it was less than that.
# This is general rule for all cameras
ACTION=="add", SUBSYSTEM=="usb", RUN+="/bin/sh -c 'FILE=/sys/module/usbcore/parameters/usbfs_memory_mb; \
test -f $$FILE && MEM=$$(cat $$FILE) && test \"$$MEM\" -lt 256 -a \"$$MEM\" -ne 0 && echo 256 > $$FILE || true'"
# All FTDI chips
SUBSYSTEMS=="usb", ATTRS{idVendor}=="134a", MODE="0666"
# More FTDI chips
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", MODE="0666"
# Prolific chips
SUBSYSTEMS=="usb", ATTRS{idVendor}=="067b", MODE="0666"
# HitechAstro & Perfect star
SUBSYSTEMS=="usb", ATTRS{idVendor}=="04d8", MODE="0666"
# Common RS232 and RS485 adapters
SUBSYSTEMS=="usb", ATTRS{idVendor}=="10c4", MODE="0666"
