#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/buildvars.mk
include /usr/share/cdbs/1/class/cmake.mk

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_SRCDIR=libsbig
DEB_DH_SHLIBDEPS_ARGS=-u--ignore-missing-info
DEB_DH_LINK_ARGS := usr/lib/${DEB_HOST_MULTIARCH}/libsbigudrv.so.$(DEB_VERSION) usr/lib/${DEB_HOST_MULTIARCH}/libsbigudrv.so.2 \
                    usr/lib/${DEB_HOST_MULTIARCH}/libsbigudrv.so.2 usr/lib/${DEB_HOST_MULTIARCH}/libsbigudrv.so
