Source: sbig
Section: Development/Libraries
Priority: extra
Maintainer: Jasem Mutlaq <mutlaqja@ikarustech.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: sbig
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fxload
Description: The Official Santa Barbra Instrument Group (SBIG) Universal Library Driver is used by applications to access and control the USB, Parallel Port, and Ethernet versions of the CCD cameras and filter wheels including SBIG ST-7/8/9/10/2K cameras, ST-L cameras, and ST-402/1603/3200 cameras. The firmware is included for all classes of cameras.
