Source: libfli
Section: libs
Priority: extra
Maintainer: Jasem Mutlaq <mutlaqja@ikarustech.com>
Build-Depends: debhelper (>= 6), cdbs, cmake, libusb-1.0-0-dev
Standards-Version: 3.9.2

Package: libfli2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Finger Lakes Instrument library is used by applications to control FLI CCDs and Filter wheels.

Package: libfli-dev
Architecture: any
Depends: libfli2, ${shlibs:Depends}, ${misc:Depends}
Description: This contains development headers for the Finger Lakes Instruments library.

Package: libfli-dbg
Priority: extra
Section: debug
Architecture: any
Depends: libfli2 (= ${binary:Version}), ${misc:Depends}
Description: Finger Lakes Instruments (FLI) debug symbols.
 .
 This package contains debug symbols.
