#!/usr/bin/make -f
clean::
	dh_testdir
	dh_clean
	rm -rf debian/tmp 

d:=debian/tmp
version:=1.7
DEB_HOST_ARCH=$(shell /usr/bin/dpkg-architecture -qDEB_HOST_ARCH)

build:
	mkdir -p $(d)

	# Header files
	echo 'usr/include/*.h' > debian/libfli1-dev.install; \

	# binary package
	if [ "$(DEB_HOST_ARCH)" = "i386" ]; then \
		echo 'usr/lib' > debian/libfli1.dirs; \
		echo 'usr/lib/libfli.so.1.7' > debian/libfli1.install; \
		echo 'usr/lib/libfli.so.1.7 usr/lib/libfli.so.1' > debian/libfli1.links; \
		echo 'usr/lib/libfli.so.1 usr/lib/libfli.so' > debian/libfli1-dev.links; \
		echo 'usr/lib' >> debian/libfli1-dev.dirs; \
	 else \
		echo 'usr/lib64' > debian/libfli1.dirs; \
		echo 'usr/lib64/libfli.so.1.7' >> debian/libfli1.install; \
		echo 'usr/lib64/libfli.so.1.7 usr/lib64/libfli.so.1' > debian/libfli1.links; \
		echo 'usr/lib64/libfli.so.1 usr/lib64/libfli.so' > debian/libfli1-dev.links; \
		echo 'usr/include/libfli1' > debian/libfli1-dev.dirs; \
		echo 'usr/lib64' >> debian/libfli1-dev.dirs; \
	fi

	cmake -DCMAKE_INSTALL_PREFIX=$(d)/usr .

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	make install

binary-indep:
	# nothing to do

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_install -s --sourcedir=debian/tmp
	dh_link -s
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_makeshlibs
	dh_installdeb -s
	dh_shlibdeps -s
	dh_gencontrol -s
	dh_md5sums -s
	dh_builddeb -s

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
