#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

DEB_FLYCAPTURE_VERSION=2.13.3.31
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_PACKAGE_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ' | cut -f 1 -d '~')
DEB_SRCDIR=libatik
DEB_DH_SHLIBDEPS_ARGS=-u--ignore-missing-info
DEB_DH_LINK_ARGS += usr/lib/${DEB_HOST_MULTIARCH}/libatik.so.${DEB_PACKAGE_VERSION} usr/lib/${DEB_HOST_MULTIARCH}/libatik.so.2 \
                    usr/lib/${DEB_HOST_MULTIARCH}/libatik.so.2 usr/lib/${DEB_HOST_MULTIARCH}/libatik.so
DEB_DH_LINK_ARGS += usr/lib/${DEB_HOST_MULTIARCH}/libflycapture.so.${DEB_FLYCAPTURE_VERSION} usr/lib/${DEB_HOST_MULTIARCH}/libflycapture.so.2 \
                    usr/lib/${DEB_HOST_MULTIARCH}/libflycapture.so.2 usr/lib/${DEB_HOST_MULTIARCH}/libflycapture.so
