Source: indi-asicam
Section: science
Priority: extra
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Jasem Mutlaq <mutlaqja@ikarustech.com>
Build-Depends: debhelper (>= 5), cdbs, cmake, libusb-1.0-0-dev, libcfitsio3-dev, libindi-dev, zlib1g-dev, libnova-dev
Standards-Version: 3.8.0

Package: indi-asicam
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libindi1
Description: INDI Driver for ZWO Optics ASI cameras
 Driver for ZWO Optics ASI cameras.
 .
 This driver is compatible with any INDI client such as KStars or Xephem.

Package: indi-asicam-dbg
Priority: extra
Section: debug
Architecture: any
Depends: indi-asicam (= ${binary:Version}), ${misc:Depends}
Description: INDI Driver for ZWO Optics ASI cameras
 Driver for ZWO Optics ASI cameras.
 .
 This driver is compatible with any INDI client such as KStars or Xephem.
 This package contains the debug symbols for the this driver, useful to investigate problems in INDI.
