Source: libindi
Section: libs
Priority: extra
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
Build-Depends: debhelper (>= 6), cdbs, cmake, libnova-dev, libcfitsio3-dev, zlib1g-dev, libusb-dev, libfli-dev
Standards-Version: 3.8.0
Homepage: http://www.indilib.org/

Package: indi
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: INDI server, drivers, and examples
 INDI is Instrument Neutral Distributed Interface control panel for
 astronomical devices, which provides a framework that decouples low
 level hardware drivers from high level front end clients. Clients
 that use the device drivers are completely unaware of the device
 capabilities and communicate with the device drivers and build a
 completely dynamic GUI based on the services provided by the device.
 .
 This package contains the server, examples, and drivers used by client applications.

Package: libindi0
Architecture: any
Depends: indi, ${shlibs:Depends}, ${misc:Depends}
Description: Instrument Neutral Distributed Interface library for astronomical devices 
 INDI is Instrument Neutral Distributed Interface control panel for
 astronomical devices, which provides a framework that decouples low
 level hardware drivers from high level front end clients. Clients
 that use the device drivers are completely unaware of the device
 capabilities and communicate with the device drivers and build a
 completely dynamic GUI based on the services provided by the device.
 .
 This package contains the library.

Package: libindi-dev
Section: libdevel
Architecture: any
Depends: libindi0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Development headers for INDI Library
 INDI is Instrument Neutral Distributed Interface control panel for
 astronomical devices, which provides a framework that decouples low
 level hardware drivers from high level front end clients. Clients
 that use the device drivers are completely unaware of the device
 capabilities and communicate with the device drivers and build a
 completely dynamic GUI based on the services provided by the device.
 .
 This package contains the development files.

