Source: fliusb-dkms
Section: libs
Priority: optional
Maintainer: Jasem Mutlaq <mutlaqja@ikarustech.com>
Build-Depends: debhelper (>= 7), dkms
Standards-Version: 3.8.1

Package: fliusb-dkms
Architecture: all
Depends: dkms (>= 1.95), ${misc:Depends}
Description: FLI USB Kernel Driver
 .
 This driver is required to operate FLI USB CCD & Filter Wheel under Linux.
