Source: indi-gphoto
Section: science
Priority: extra
Maintainer: Geoffrey Hausheer <astro@phracturedblue.com>
Build-Depends: debhelper (>= 6), cdbs, cmake, libindi-dev, zlib1g-dev, libusb-dev, libjpeg62-dev, libcfitsio3-dev, libgphoto2-2-dev
Standards-Version: 3.7.2

Package: indi-gphoto
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: INDI GPHOTO Camera Driver. This driver is compatible with any INDI client such as KStars or Xephem.  Currently only the Canon EOS DSLR cameras are supported.

