Source: indi-nightscape
Section: science
Priority: extra
Maintainer: Jasem Mutlaq <mutlaqja@ikarustech.com>
Build-Depends: debhelper (>= 5), cdbs, cmake, libusb-1.0-0-dev, libcfitsio3-dev|libcfitsio-dev, libindi-dev, zlib1g-dev, libnova-dev, libftdi1-dev
Standards-Version: 3.9.1

Package: indi-nightscape
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libindi1, libftdi1
Description: INDI Driver for Celestron Nightscape 8300
 Driver for Celestron Nightscape 8300.
 .
 This driver is compatible with any INDI client such as KStars or Xephem.

Package: indi-nightscape-dbg
Priority: extra
Section: debug
Architecture: any
Depends: indi-nightscape (= ${binary:Version}), ${misc:Depends}
Description: INDI Driver for Celestron Nightscape 8300
 Driver for Celestron Nightscape 8300.
 .
 This driver is compatible with any INDI client such as KStars or Xephem.
 This package contains the debug symbols for the this driver, useful to investigate problems in INDI.
