Source: indi-talon6
Section: science
Priority: extra
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Ferrante Enriques <ferrante.enriques@gmail.com>
Build-Depends: debhelper (>= 6), cmake, cdbs, libindi-dev
Standards-Version: 3.8.0

Package: indi-talon6
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libindi1
Description: INDI driver for Talon6 Roll Off Roof.
 .
 Talon6 is a control system for obersvatory automation
 .
 This driver is compatible with any INDI client such as KStars or Xephem.

Package: indi-talon6-dbg
Priority: extra
Section: debug
Architecture: any
Depends: indi-talon6 (= ${binary:Version}), ${misc:Depends}
Description: INDI Talon6 driver debug symbols.
 .
 This driver is compatible with any INDI client such as KStars or Xephem.
 This package contains the debug symbols for the this driver, useful to investigate problems in INDI.
 
