name: PyIndi

on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        container: ["ubuntu"]

    container:
      image: ghcr.io/${{ github.repository_owner }}/${{ matrix.container }}

    steps:
      - name: Get INDI Sources
        uses: actions/checkout@v3
        with:
          path: 'indi'

      - name: Build INDI Core
        run: |
          indi/scripts/indi-core-build.sh
          indi/scripts/indi-core-package-build.sh

      - name: Install INDI Core
        run: indi/scripts/indi-core-install.sh

      - name: Install Python3 Pre-requisites
        run: |
          $(command -v sudo) apt-get update && $(command -v sudo) apt-get install -y python3 python3-dev python3-setuptools python3-venv swig python3-pip

      - name: Get PyIndi Sources
        uses: actions/checkout@v2
        with:
          repository: indilib/pyindi-client
          path: ./pyindi-client

      - name: Create and activate venv
        run: |
          python3 -m venv venv
          echo "VIRTUAL_ENV=$GITHUB_WORKSPACE/venv" >> $GITHUB_ENV
          echo "$GITHUB_WORKSPACE/venv/bin" >> $GITHUB_PATH

      - name: Build PyIndi
        run: |
          cd pyindi-client
          $GITHUB_WORKSPACE/venv/bin/pip install .

      - name: Install test deps
        run: |
          cd pyindi-client
          $GITHUB_WORKSPACE/venv/bin/pip install -r requirements-test.txt

      - name: Test PyIndi
        run: |
          cd pyindi-client && /bin/bash -c "indiserver indi_simulator_ccd indi_simulator_focus indi_simulator_gps indi_simulator_guide indi_simulator_wheel indi_simulator_telescope & $GITHUB_WORKSPACE/venv/bin/tox"
