name: PyIndi
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        container: ["ubuntu"]

    container:
      image: ubuntu:latest

    steps:
      - name: Install Indilib Pre-requisites
        run: |
          $(command -v sudo) apt-get update && apt-get install -y libnova-dev libcfitsio-dev libusb-1.0-0-dev zlib1g-dev libgsl-dev build-essential cmake git libjpeg-dev libcurl4-gnutls-dev libtheora-dev libfftw3-dev libev-dev

      - name: Get INDI Sources
        uses: actions/checkout@v2
        with:
          path: 'indi'

      - name: Build INDI Core
        run: |
          indi/scripts/indi-core-build.sh
          indi/scripts/indi-core-package-build.sh

      - name: Install INDI Core
        run: indi/scripts/indi-core-install.sh

      - name: Install Python3 Pre-requisites
        run: |
          $(command -v sudo) apt-get install -y python3 python3-dev python3-setuptools swig python3-pip

      - name: Get PyIndi Sources
        uses: actions/checkout@v2
        with:
          repository: indilib/pyindi-client
          path: ./pyindi-client

      - name: Build PyIndi
        run: |
          cd pyindi-client && python3 ./setup.py install

      - name: Install test deps
        run: |
          cd pyindi-client && pip3 install -r requirements-test.txt

      - name: Test PyIndi
        run: |
          cd pyindi-client && /bin/bash -c "indiserver indi_simulator_ccd indi_simulator_focus indi_simulator_gps indi_simulator_guide indi_simulator_wheel indi_simulator_telescope & tox ."
